.bazaar-catalog {
  background-color: #10111F;
  padding: 2rem;
}

/* Фильтры */
.bazaar-catalog .form-select,
.bazaar-catalog .form-control {
  background-color: #5C556C;
  border-color: #748BBB;
  color: #CDC7B7;
}

.bazaar-catalog .btn-primary {
  background-color: #748BBB;
  color: #10111F;
}

.bazaar-catalog .btn-primary:hover {
  background-color: #82779F;
  color: #CDC7B7;
}

/* Карточки */
.bazaar-catalog .card {
  background-color: #5C556C;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bazaar-catalog .card-body {
  flex-grow: 1;
  padding: 1rem;
}

.bazaar-catalog .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.bazaar-catalog .card-title {
  color: #CDC7B7;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.bazaar-catalog .card-text {
  color: #EDE9DC;
  margin-top: auto;
}

/* Акценты */
.bazaar-catalog .budget-info {
  color: #C6D3FF;
  font-size: 18px;
}

.bazaar-catalog .text-muted{
  color: #b2d3ff !important;
}

/* Пагинация */
.bazaar-catalog .pagination .page-link {
  color: #CDC7B7;
  background-color: transparent;
  border: 1px solid #748BBB;
}

.bazaar-catalog .pagination .page-item.active .page-link {
  z-index: 3;
  color: #CDC7B7;
  background-color: #5C556C;
  border-color: #5C556C;
}

.bazaar-catalog .pagination .page-link:hover {
  color: #CDC7B7;
  background-color: #748BBB;
  border-color: #748BBB;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}