.image-container {
    overflow: hidden;
    border-radius: 0.5rem;
}

.placeholder-image {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

.nav-pills .nav-link.active {
    background-color: #f8f9fa;
    color: #000;
}

.card-body button {
    margin-bottom: 1rem;
}

.bi-star-fill {
    font-size: 1rem;
}
/* Круглое изображение профиля */
.profile-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для панели с пакетами */
.card-header-tabs .nav-link {
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-header-tabs .nav-link.active {
    background-color: #f8f9fa;
    color: #000;
    font-weight: bold;
}

.card-body button {
    margin-bottom: 1rem;
}
/* Стили для карусели */
.carousel {
    margin-bottom: 20px;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: block;
}

.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .active.carousel-item-left {
    transform: translateX(0);
}

.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .active.carousel-item-right {
    transform: translateX(0);
}

.carousel-inner .carousel-item-next,
.carousel-inner .active.carousel-item-left {
    transform: translateX(100%);
}

.carousel-inner .carousel-item-prev,
.carousel-inner .active.carousel-item-right {
    transform: translateX(-100%);
}

/* styles.css */
.btn-favorite {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #dc3545; /* Цвет сердца */
  font-size: 1.2rem; /* Размер иконки */
  transition: all 0.3s ease;
}

.btn-favorite:hover {
  background-color: #f8d7da;
  border-color: #dc3545;
}

.btn-favorite.active {
  background-color: #dc3545;
  color: #ffffff;
}